<% include ../header %>
<link rel="stylesheet" href="/stylesheets/Login.css">
<style>
    .titleSignIn{
        text-align: center !important;
        display: flex;
        justify-content: center;
        color: red;
    }

    .backLogin {
        display: flex;
        justify-content: center;
    }
</style>
<div class="container">
    <div class="row vertical-center-row">
        <div class="col-md-6 col-center-block login-widget">
            <div class="text-center mb-2 titleSignIn">
                <h1>Đăng kí thất bại</h1>
            </div>
            <div class="text-center mb-2">
                <h1>Đề nghị nhập lại thông tin</h1>
            </div>
            <div class="backLogin">
                <a href="/logup" class="blue-text">Quay lại đăng kí</a>
            </div>
        </div>
    </div>
</div>


<% include ../footer %>