<% include ../header %>
<link rel="stylesheet" href="/stylesheets/Login.css">
<style>

.titleSignIn {
    text-align: center!important;
    display: flex;
    justify-content: center;
    color: #039203;
}

.backLogin {
    display: flex;
    justify-content: center;
}

</style>
<div class="container">
    <div class="row vertical-center-row">
        <div class="col-md-6 col-center-block login-widget">
            <div class="text-center mb-2 titleSignIn">
                <h1>Đăng kí thành công</h1>
            </div>
            <div class="backLogin">
                <a href="/login" class="blue-text">Quay lại đăng nhập</a>
            </div>
        </div>
    </div>
</div>


<% include ../footer %>