<% include ../header %>
<% include Slide %>

<div class = "back">

<div class="container">
        <h2 class="list-comic-title new-story">Truyện mới </h2>
        <% include NewStory %>
</div>

<div class="container">
        <h2 class="list-comic-title best-story">Truyện<br/> xem nhiều </h2>
        <% include BestStory %>
</div>

</div>


<% include ../footer %>