*{
	margin: 0;
	padding: 0;
}
.list-comic-title{
	width: 100%;
	text-transform: uppercase;

}
.list-comic-subtitle{
	width: 100%;
	margin-left: 5px;
	margin-right: 5px;
}

.card-comic{
	width: 100%;
	margin-left: 5px;
	margin-right: 5px;
	overflow: hidden;
}