<% include ../header %>


<div class="container-fluid">

    <div class="row">

        <div class="col-8">
            <h3 class="mt-3 result-search">Truyện <%= typeStory%></h3>
            <ul class="list-group">
                <% data.forEach((motsp)=>{ %>

                <li class="list-group-item">

                        <img class = "imgSearch" src="<%= motsp.avatarStory %>"
                            alt="">
                        <a href="/about/<%= motsp.idStory %>"><%= motsp.nameStory %></a>

                </li>


                <%})%>
        </ul>
        </div>
    </div>
</div>

<% include ../footer %>