<% include ../header %>

<div class="back">
    <div class="container" style="text-align: center">
        <h4 class="title-story">One Piece Tập 1</h4>
    </div>
    <div class="container">

        <div class="row">

            <embed src="images/ttt.pdf" type="" width="100%" height="1000px">

        </div>

    </div>

    <div class="container mt-3">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-2 mb-3"><a name="" id="" class="btn btn-primary nut" href="#" role="button">Previous</a></div>
            <div class="col-2 mb-3"><a name="" id="" class="btn btn-primary nut" href="#" role="button">Next</a></div>
            <div class="col-4"></div>
        </div>
    </div>

</div>

<% include ../footer %>