
body,html{
	height: 100%;
}

.back {
    background: #80808066;
}

body::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #F5F5F5;
}

.navbar-light .navbar-brand {
    font-size: 43px;
    font-family: monospace;
    font-weight: 900;
    color: bisque;
    text-shadow: 2px 2px 5px #25dc4e;
}

.minBar{
	font-size: 30px!important;
}

.menu {
	background: #1696f9!important;
    padding: 15px;
	font-size: larger;
	transition: 0.5s;
}

.menuMin{
	padding: 5px;
	font-size: initial;
}


a.dropdown-item.typeStory:hover {
	background: #1696f9;
}

.dropdown-menu.show {
    background: #cfd8de;
}


.title-story{
	padding: 14px;
	font-weight: bold;
}

h2.list-comic-title {
    margin-top: 23px;
    text-shadow: 2px 2px 5px #fffe00;
    border-bottom: 3px solid red;
    width: 200px;
	padding: 10px;
	padding-left: 0px;
}

.readStory {
	height: 100%;
	width: 50%;
	background: #926161;
	overflow: scroll;
	overflow-x: hidden;
}

.haveMenu{
	background: #1696f9;
	transition: 0.5s;
}

.scollPage{
	transition: 0.5s;
	position: fixed;
    z-index: 100;
}

.SetImg{
	margin-top: 10px;
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
}

img.card-img-top {
    max-height: 300px;
}

img.imgAbout{
    height: 300px;
}

.img-scale{
	overflow: hidden;
	min-height: 300px;
}

img.story-list {
    height: 80px;
    width: 60px;
}

.info-story{
	background: none;
	border: none;
}

.card-img-top:hover{
	transform: scale(1.2);
	transition: 1s;
}

.card-comic{
	margin-bottom: 10px;
	opacity: 0;
}

.setSlide{
	max-height: 480px;
}

.slide{
	margin-bottom: -23px;
}
.nut{
	min-width: 100px;
	margin-bottom: 20px;
}

.container.mt-3.twoButton {
    display: flex;
    justify-content: space-around;
}

.footer {
	background: #040404e3;
	text-align: center;
	color: white;
	margin-bottom: 0px;
	padding: 3%;
	border-radius: unset;
	overflow-x: hidden;
}

