<% include ../header %>
<div class = "container Allstory-admin">

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Name Story</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <% data.forEach((motphantu)=>{ %>
        <tr>
            <td><%= motphantu.nameStory %></td>
            <td>
            <a name="" id="" class="btn btn-danger" href="/delete/<%= motphantu.idStory%>" role="button">delete</a>
            <a name="" id="" class="btn btn-primary" href="/insert" role="button">insert</a>
            <a name="" id="" class="btn btn-info" href="/detail/<%= motphantu.idStory%>" role="button">detail</a>
            </td>
        </tr>
        <% }) %>
        
        </tbody>
    </table>
    
</div>
<% include ../footer %>